@charset "utf-8";

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: rgb(186, 230, 243);
    width: 1000px;
    margin-left: 200px;
    margin-right: 300px;
}
h1 
{
    color: #f8ae71b9;
    box-sizing: content-box;
    font-size: 40px;
}
p
{
    text-align: justify;
    color: #490cf1fd;
}
