* {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 20px;}
body h1 {color: rgb(170, 26, 26);}
body {background-color: aquamarine;}
body p {color: blue; }
body 
{
    width: 900px; margin-left: 250px; margin-right: 250px;
}
h2 
{
    color: greenyellow;
}